.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
    margin-bottom: 16px;
    background-color: #fff;
}

.image-slider {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    padding: 16px 0;
}

.product-price {
    font-size: 1.5rem;
    color: #333;
    margin: 8px 0;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.product-actions button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.add-to-cart {
    background-color: #d89bc5;
    color: white;
    width: fit-content;
}

.add-to-cart:hover {
    background-color: #b87daa;
}

.see-more {
    width: fit-content;
    background-color: #9cddde;
    color: white;
}

.see-more:hover {
    background-color: #4f8499;
}

.product-actions button .fa-shopping-cart,
.product-actions button .fa-info-circle {
    margin-right: 8px;
}
