.slogan-aboutus {
    padding: 100px 20px;
    background-image: url('../../assets/heroSection.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.slogan-aboutus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.quote-container {
    position: relative;
    z-index: 1;
}

.slogan-aboutus h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.slogan-aboutus p {
    color: #d8c8d0;

    font-size: 1.2em;
}
