/* General table styles */
.all-categories table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.all-categories th, .all-categories td {
    border: 1px solid #ddd;
    padding: 8px;
}

.all-categories th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Button styles */
.button-delete, .button-update {
    background-color: #dc3545; /* Default color for delete */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 30px; /* Space between buttons */
}

.button-update {
    background-color: #198754;
    border-radius: 5px; /* Specific color for update */
}

.button-update:hover{
    background-color: #115636;
}
.button-delete:hover {
    background-color: #990816;
}
